/* ====================== Footer =============================== */


.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    color: var(--color-white);
    justify-content: space-between;
  }
  
  .footer-img img {
    transition: var(--transition);
  }

  .footer-img img:hover {
    transform: scale(1.1)
  }
  
  .footer-copy {
    text-align: center; /* Centers the text horizontally */
    padding: 20px 0; /* Adds padding to the top and bottom */
    opacity: 0.78; /* Sets the opacity to 78% */
    width: 100%; /* Ensures it spans the full width of its container */
    order: 3; /* Puts it at the end of the footer, even if other elements have flex order */
  }
  
  
  .location-img {
  
  height: 180px;
  width: 180px;
  
  }
  
  .footer-top {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px; /* Adjust as needed */
  }

  .footer-top img {
    height: 100px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-column:not(:last-child) {
    margin-right: 20px; /* Adjust as needed for spacing between columns */
  }
  
  .footer-logo, .footer-location, .footer-contact, .footer-socials {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .footer-slogan, .footer-copy {
   
    margin-top: auto; /* Pushes the slogan and copyright to the bottom */
  }
  
  .footer-slogan {
    margin-top: 20px;
  }
  
  
  .footer-link {
    display: block;
    margin-bottom: 5px; /* Adjust as needed for spacing between links */
    text-decoration: underline;
    transition: var(--transition)
  }

  
  .footer-link:hover {
    color: var(--color-primary);
  }

  .blog-log-in-btn {
    transition: var(--transition);
  }
  

  .blog-log-in-btn:hover {
    color: var(--color-primary);
  }
  
  
  .socials-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  
  .social-row {
    display: flex;
    align-items: center; /* This will vertically center align the icon with the text */
    margin-bottom: 10px; /* Spacing between rows */
  }
  
  .social-row img {
    margin-right: 8px; /* Space between the icon and text, adjust as necessary */
  }
  
  
  .social-row img {
    width: 24px; /* Adjust width as needed */
    height: 24px; /* Adjust height as needed */
    margin-right: 15px; /* Space between the icon and text */
    /* If you want to keep the images' aspect ratio, you can set only one dimension (width or height) and set the other to 'auto'. */
  
  }




  @media screen and (max-width: 768px) {

  .footer-top, .footer-bottom {
    flex-direction: column;
  }
  
  .footer-column {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; /* Adjust as needed for spacing between mobile columns */
  }
  
}
  
  