/*====================  About  =============================*/
.about-section {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 250px; /* Adjusted gap to decrease space */
}

.about-title {
  margin-top: 5rem;
}

.about-title p {
  filter: drop-shadow(2px 3px 1px rgba(26, 26, 26, 0.374)); /* Optional: Larger shadow on hover for a subtle effect */
}

.about-image img {
  width: 100%; /* Adjust as needed */
  max-width: 500px; /* Adjust as needed */
  filter: drop-shadow(7px 8px 1px rgba(26, 26, 26, 0.374)); /* Optional: Larger shadow on hover for a subtle effect */
  transition: var(--transition);
}

.about-image img:hover {
  filter: drop-shadow(10px 10px 1px rgba(26, 26, 26, 0.482)); /* Horizontal offset, Vertical offset, Blur radius, Color */
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Adjust as needed */
}

.social-link {
  display: inline-block; /* Makes the anchor wrap the image */
  border-radius: 50%; /* Creates a circular shape */
  text-decoration: none; /* Optional: Removes underline from links */
  background: transparent; /* No background initially */
  padding: 10px; /* Space around the image */
  transition: var(--transition); /* Smooth transition for background color */
  opacity: 100%;
}

.social-link:hover,
.social-link:focus { /* Focus added for accessibility */
  cursor: pointer;
  transform: scale(1.3);
  filter: invert(80%) sepia(10%) saturate(100%) hue-rotate(180deg);
  opacity: 80%; /* Opacity changes for hover */
}

.social-link img {
  display: block;
  width: 28px; /* Adjust as needed */
  height: 28px; /* Adjust as needed */
}

.btn-about {
  margin-top: 30px;
}


.title-about {
  font-size: 1.8rem;
  color: var(--color-white);
  text-align: center;
  font-family: "Righteous", sans-serif;
}


.title-container p {
  padding: 2rem 15rem 0rem 15rem;
  text-align: center;
}

  
  /*====================  Services  =============================*/
  
  .services-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Center align both content and image */
    padding: 30px 0px; /* Add padding top and bottom */
  
  }
  
  .title-container {
    align-self: flex-start; /* Align title to the left */
    margin-left: 0px; /* Space from the left edge */
    padding-top: 20px; /* Space from the top */
  }
  
  .title {
    font-size: 1.8rem;
    color: var(--color-background);
    text-align: center;
    font-family: "Righteous", sans-serif;
  }


  
  .services-blobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0; /* Remove margin-left */
  }
  
  .service-blob {
    background: rgba(255, 255, 255, 0.265); /* Color of the blob */
    border-radius: 20px; /* Rounded corners for the blob */
    padding: 10px; /* Padding inside the blob */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* Remove underline from the link */
    color: var(--color-background); /* Text color */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Shadow for the blob */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .service-blob:hover {
    transform: translateY(-5px); /* Slightly raise the blob on hover */
    box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .service-blob img {
    max-width: 70px; /* Adjust based on your icon size */
    margin-bottom: 10px; /* Space between icon and text */
  }
  
  .services-image {
    flex: 1; /* Take up only the necessary space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align to top */
  }
  
  .service-phone {
    max-width: 100%; /* Make sure it doesn't exceed the parent container */
    margin-top: -5rem;
    filter: drop-shadow(7px 8px 1px rgba(26, 26, 26, 0.374)); /* Optional: Larger shadow on hover for a subtle effect */
    transition: var(--transition);
  }
  
  .service-phone:hover {
    filter: drop-shadow(10px 10px 1px rgba(26, 26, 26, 0.482)); /* Horizontal offset, Vertical offset, Blur radius, Color */
  
  }
  
  .service-btn {
    position: relative; /* Position relative to its normal position */
    z-index: 10; /* Ensure it's above other elements */
    display: block; /* To apply margin */
    margin-top: -10rem;
    margin-left: 30rem;
  }
  
  
/*====================  Portfolio  =============================*/
  
.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this to center the children horizontally */
  padding: 2rem; /* Add some padding around the section */
}

.portfolio-image {
  position: relative; /* To position the button */
  display: flex; /* Use flex to center the image */
  justify-content: center; /* Center the VR headset image horizontally */
  align-items: center; /* Center the VR headset image vertically */
  flex-basis: 50%; /* Take half of the space */
  width: 100%; /* Ensure it spans the full width */
}

.vr-headset {
  width: 50%; /* Adjust as needed */
  height: auto; /* Keep aspect ratio */
  filter: drop-shadow(0 6px 2px rgba(0, 0, 0, 0.2)); /* Initial drop shadow */
  transition: var(--transition);
}

.vr-headset:hover {
  filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.3)); /* Larger drop shadow on hover */
}

.btn-portfolio {
  position: relative;
  bottom: 10px; /* Adjust as needed */
}

.portfolio-content {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  justify-content: space-around; /* Distribute space around items */
  align-items: center; /* Center the children vertically */
  width: 100%; /* Take the full width of the section */
  box-sizing: border-box; /* Include padding in the width */
  position: relative; /* Needed for absolute positioning of the vertical line */
}


.portfolio-text-circle {
  width: 160px; /* Fixed width for a perfect circle */
  height: 160px; /* Fixed height for a perfect circle */
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-background);
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.3));
  font-size: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.portfolio-text-circle:hover {
  transform: translateY(-5px); /* Slightly raise the blob on hover */
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
}

.portfolio-text-line {
  display: flex; /* Add this to ensure text aligns properly */
  flex-direction: column; /* Stack the text vertically */
  justify-content: center; /* Center the text vertically */
  align-items: flex-start; /* Align the text to the start of the flex item */
  margin: 0 2rem; /* Add margin to the left and right */
  filter: drop-shadow(0 5px 7px rgba(0, 0, 0, 0.3)); /* Larger drop shadow on hover */
}


  
  
  /* ==================== Blog ===================================*/
  
  .blog-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
  }
  
  .article-container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 1.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  
  .article-card {
    position: relative;
    width: 100%;
    max-width: 350px; /* Adjust width as needed */
    height: 600px; /* Define a height for proper layout */
    background-color: var(--color-background);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .article-card::before,
  .article-card::after {
    transform: none; /* Resets any transformations if they are causing issues */
  }
  
  .article-container .article-card::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    top: -300px;
    left: 50px;
    background-color: var(--color-primary);
    transform: rotate(45deg);
    z-index: 1; /* Ensure this is below the content */
  }
  
  .article-container .article-card:hover::before {
    animation: animate2 2s linear infinite;
  }
  
  @keyframes animate2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .article-container .article-card::after {
    position: absolute;
    content: '';
    inset: 5px;
    background-color: var(--color-background);
    border-radius: 20px;
    z-index: 2; /* Placed above the ::before pseudo-element but below the content */
  }
  
  /* Ensure content on top of the cards is visible */
  .article-container .article-card .article-image, .article-container .article-card .article-content, .article-container .article-card .card-title {
    position: relative;
    z-index: 3; /* This ensures they are above the ::before and ::after pseudo-elements */
  }
  
  
  
  .article-image img {
    width: 100%;
    height: auto;
    padding: 4.8px;
    border-radius: 20px 20px 10px 10px;
    filter: drop-shadow(3px 5px 5px rgba(26, 26, 26, 0.374));
    object-fit: cover;
    transition: all .7s;
  }
  
  .article-image img:hover {
  
    transform: scale(1.01);
  }
  
  .article-content {
    padding: 1.5rem;
  }
  
  .card-category {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--color-primary);
    display: block;
  }
  
  
  .card-title {
    margin: .8rem 0;
    color: var(--color-white);
    letter-spacing: 1.5px;
  }
  
  .card-excerpt {
    color: var(--color-white);
    opacity: 85%;
    margin: 0;
  }
  
  .btn-blog {
    margin-top: 1rem;
    margin-bottom: 100px;
  }
  
  .swiper-button-next, .swiper-button-prev {
    transition: all 500ms ease;
  }
  
  .swiper-button-prev {
    margin-left: 43px;
  }
  .swiper-button-next {
    margin-right: 43px;
  }
  
  .swiper-button-next:hover {
    transform: scale(1.1);
  }
  
  .swiper-button-prev:hover {
    transform: scale(1.1);
  }
  
  
  .swiper-button-next::before, .swiper-button-prev::before {
    background-color: var(--color-background);
    border-radius: 20%;
    padding: 1.2rem;
    content: '➤';
    font-size: 1.25rem;
    color: var(--color-primary); /* Specify the color you want for the arrows */
  }
  
  .swiper-button-prev::before {
    transform: rotate(180deg);
  }
  
  .swiper-button-next::after, .swiper-button-prev::after {
   display: none;
  }

  
  .swiper-pagination-bullet-active {
    background-color: var(--color-primary); /* Change to your desired active bullet color */
  }





  
/* ====================== Responsive Tablets =============================== */


  @media screen and (max-width: 1024px) {

  .about-section, .services-section, .portfolio-section {
    padding: 0 20px; /* Adds padding on the sides */
    margin-bottom: 70px;
  }

  .header__container, .about-section, .services-section, .portfolio-section {
    flex-direction: column; /* Stacks elements vertically */
    text-align: center; /* Centers text */
  }

  .about-text {
    width: 400px; /* Smaller circle */
    height: 400px; /* Keep height the same as width for a perfect circle */
    padding: 20px;
    margin-top: 50px; /* Adds space between the button and the about text */
    margin-bottom: 20px;

  }

  .about-text h3 {
    color: var(--color-background);
    font-size: 30px;

  }
  
  .about-text p {
    color: var(--color-background);
    line-height: 25px;
    font-size: 18px;
  }

  .services-blobs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2fr, 1fr)); /* adjust minmax() for your preferred size */
    gap: 1rem; /* Increase the gap between blobs */
    justify-content: center; /* Center grid items in the grid area */
    align-items: start; /* Align grid items to the start of their cell */
    padding: 1rem; /* Add padding around the entire grid */
  }

  .service-blob {
    /* Adjust the margin and alignment of individual blobs if needed */
    margin: 0.5rem; /* optional, for additional space around each blob */
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
  }



  .social-link img {
    display: block;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
  }

  .social-links {
    margin-top: -200px;
  }

  

  /* Center the whole services section */
  .services-section {
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    margin: 0 auto; /* Adds margin to the left and right */
    width: 100%; /* Ensure the section spans the full width */
    max-width: 960px; /* Adjust max-width to your design preference */
    margin-top: 50px;
  }

  .service-blob img {
    min-width: 100px; /* Adjust based on your icon size */
    max-width: 400px;
  }

  .services-image {
    width: 600px;
    height: 600px;
  }



  .blog-section {
    padding-top: 10rem;
    height: auto;
  }


  .hero-btn, .service-btn, .btn-portfolio {
    margin: 20px auto; /* Centers buttons and adds space */
  }
  
  /* Adjust text sizes for readability */
  h1, h2, h3, h4 {
    font-size: 1.5rem;
  }



  .portfolio-image {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%; /* Adjust width as needed */
    display: flex;
    justify-content: center; /* Center the image container */
  }

  .portfolio-image img {
    width: 100%;
    max-width: 400px; /* Optional: prevents the image from becoming too large */
    height: 600px; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between image and button */
  }

}
  


/* ====================== Responsive Phones =============================== */



@media screen and (max-width: 768px) {

  
    .about-section {
      display: flex;
      justify-content: center;
      gap: 50px; /* Adjusted gap to decrease space */
    }
    
  
    /* Target the container of the image and social links to put them in a row */
   
    /* Make sure the social links are in a row */
   
  
    /* Resize the about text circle and adjust the text size */
    .about-text {
      width: 200px; /* Smaller circle */
      height: 200px; /* Keep height the same as width for a perfect circle */
      padding: 20px;
      margin-top: 20px; /* Adds space between the button and the about text */
      margin-bottom: 20px;
  
    }

    .title-container p {
      padding: 2rem 2rem 0rem 2rem;
      text-align: center;
    }
  
    .about-text h3 {
      color: var(--color-background);
      font-size: 16px;
      margin-top: 20px;
    }
    
    .about-text p {
      color: var(--color-background);
      line-height: 13px;
      font-size: 9px;
    }
  
    /* If the social icons need to be in a perfect square on mobile */
    .social-link {
      width: 50px; /* Set a specific width */
      height: 50px; /* Set height equal to the width for a square */
      justify-content: center;
      align-items: center;
    }

    .social-links {
      margin-top: 0px;
    }

    .less-margin-bottom {
      margin-bottom: -70px;
    }

    .less-margin-top {
      margin-top: -70px;
    }
  
    .btn-about {
      margin-bottom: 70px;
    }
  
    .services-title-container {
      align-self: auto; /* Align title to the left */
      text-align: center;
      margin-bottom: 30px; /* Space between the title and blobs */
      margin-left: 0; /* Space from the left edge */
    }

    
    .services-title {
      font-size: 1.8rem;
      color: var(--color-background);
      text-align: center;
      font-family: "Righteous", sans-serif;
    }
  
    /* Ensure the services blobs wrap in rows of two */
    .services-blobs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 15px; /* This is the space between blobs */
      margin-bottom: 50px;
      
    }

  
  
  
    .service-blob {
      width: 200px;
      margin-bottom: 15px; /* Space between rows of blobs */
    }
  
    /* Center the services image and add space above it */
    .services-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; /* Space between blobs and the image */
      max-width: 350px;
    }
  
    /* Adjust the service button to center it below the services image */
    .service-btn {
      display: block;
      margin: 20px auto; /* Adds margin on the top and bottom, auto centers it horizontally */
    }

    .service-blob img {
      min-width: 100px; /* Adjust based on your icon size */
      max-width: 300px;
      margin-bottom: 10px; /* Space between icon and text */
    }
  
    .portfolio-image {
      margin-top: 40px;
      width: 100%; /* Adjust width as needed */
      display: flex;
      justify-content: center; /* Center the image container */
    }
  
    .portfolio-image img {
      width: 100%;
      max-width: 300px; /* Optional: prevents the image from becoming too large */
      height: 200px; /* Maintain aspect ratio */
      margin-bottom: 20px; /* Space between image and button */
    }
  
    .btn-portfolio {
      margin: 60px 40px; /* Adjust as needed */
    }
  
    .swiper-button-prev {
      margin-left: 0px;
    }
    .swiper-button-next {
      margin-right: 0px;
    }
  
    .swiper-button-next:hover {
      transform: scale(1);
    }
    
    .swiper-button-prev:hover {
      transform: scale(1);
    }
  
    .swiper-button-next::before, .swiper-button-prev::before {
      background-color: var(--color-background);
      border-radius: 20%;
      padding: 0.9rem;
      opacity: 90%;
      content: '➤';
      font-size: 0.8rem;
      color: var(--color-primary); /* Specify the color you want for the arrows */
      margin-bottom: 150px;
    }
  
    /* Center the portfolio text circle */
    .portfolio-text-circle {
      width: 150px; /* Adjust size as needed */
      height: 150px; /* Keep a perfect circle */
      line-height: 150px; /* Vertically center the text */
      margin: 20px auto; /* Space above and below */
      display: block; /* Makes it a block-level element */
      text-align: center; /* Horizontally centers the text */
    }
  
    /* Adjust the portfolio text line */
    .portfolio-text-line {
      text-align: center; /* Center the text */
      margin: 20px; /* Space around the text */
    }
  
    /* Additional adjustments to ensure vertical ordering */
    .portfolio-section,
    .portfolio-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  