#loadingScreen {
  position: fixed;
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999; /* Ensure it covers other content */
  opacity: 1;
  transition: opacity 0.6s ease-in-out; /* Transition for background fade */
}

#loadingScreen img {
  position: absolute;
  width: 100%;  /* Adjust as per your full screen requirement */
  height: 100%;  /* Adjust as per your full screen requirement */
  opacity: 1;
  object-fit: cover;
  display: block; /* Set to block */
  will-change: opacity, transform; /* Optimize for animation performance */
}

#image1 {
  background-image: url('../../public/assets/Loading Screen/Loading Screen Transition 1.svg');
}

#image2 {
  background-image: url('../../public/assets/Loading Screen/Loading Screen Transition 2.svg');
}

#image3 {
  background-image: url('../../public/assets/Loading Screen/Loading Screen Transition 3.svg');
}

#image4 {
  background-image: url('../../public/assets/Loading Screen/Loading Screen Transition 4.svg');
  transition: transform 0.6s ease-in-out; /* Transition for sliding out */
  box-shadow: 25px 5px 3px rgba(0, 0, 0, 0.192); /* Adjust shadow to match the design */
}

/* Define keyframes for fade-in and fade-out */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0.25; }
}

@keyframes fadeIn {
  from { opacity: 0.25; }
  to { opacity: 1; }
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

/* Add a class for fading out the entire loading screen */
.loading-screen-fade-out {
  opacity: 0; /* Fade out the entire loading screen, including background */
}

/* Media queries for mobile adjustments */
@media (max-width: 768px) {
  #loadingScreen img {
    /* Adjust animation duration for mobile */
    animation-duration: 0.3s;
  }
}
